
body {
  margin: 0;
  background: #eee;
  font-family: Roboto, sans-serif;
}

.header{
    color: #F9FAF8;
    font-size: 24px;
    background: #1F2937;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerlinks {
    font-size: 18px;
    display:flex;
    gap: 15px;
}

.firstcontainer {
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  background-color: #1F2937;
  
}

.herocontainer {
  /* margin-left: 300px;  */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.hero {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;  
}

.herosecondary {
  font-size: 18px;
  color: #E5E7EB;
}


button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.signup {
  background: #3882F6;
  border: 1px solid royalblue;
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.imgcontainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 200px;
  flex-shrink: 0;
  background-color: grey;
  color:black;
  text-align: center;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
}